* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


body{
    background-color:#fafafa;
    background-size: cover;
    background-position: center center;
    z-index: 1;

}

table{
    width: 100%;
}
#btnschedule{
    font-size: 1.5rem;
    background-color: #ffd54f;
       color: #fff;

}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 0.6em;
    text-align: left;
}
#speakersName{
    color: #6ADEA3;
    font-weight: bold;
    text-align: center;
}

#scheduleHeader{
   font-weight: bolder;
    color: #863B96;
    font-size: 4.5em;
}
#clock{
    color: #757575;
    font-weight: bold;
}
#scheduleTime{
    text-align: center;
    padding: 0 3em;

}




jina mbili




/*
//4PM MICROSFT SESSION 2 RM2
FINSERVE  4PM RM ALL
 DAY2
11PM RM1 MICROSOFT SESSION2
A JETPAK 12PM
MICROSOFT SESSION 3 4PMPM RM1
3PM GOOGLE SESSION
*/

