.card-title {
    text-align: center;
    font-weight: bold;
    color: #863B96;
}

.card-deck {
    padding-bottom: 0.7em;

}

.card {
    background-color: #fafafa;
    text-align: center;
    padding-bottom: 1em;
}

.card-text {
    text-align: center;
    font-weight: bold;


}

#cardheight {
    height: 40vh;
}

#speakertwitter {
    color: #863B96;
     font-weight: bold;
}
#twittericon{
     text-align: center;
    color: #863B96;
     font-weight: bold;
    padding-bottom: 5em;
}
