.card-title{
    text-align: left;
    font-weight: bold;
    color: #863B96;
}
.card-deck{
    padding-bottom: 0.7em;

}
.card{
        background-color: #fafafa;
}
.card-text{
    text-align: center;
    font-weight: bold;
    font-style: italic;

}
.card-img-top{
    height: 35vh;
}
#speakertwitter{
    text-align: right;
    color: #863B96;
    padding-right: 2em;
}

